* {
    margin: 0;
    padding: 0;
}
.container{
   width:1480px;
    margin: auto;
}




body{
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
}
a, button{
    font-family: "Roboto", sans-serif;
}

@import "./components/nav";
@import "./components/button";
@import "./components/banner";
@import "./components/header";
