<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/styles.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="header-bg">
        <div class="container">
            <div class="nav">
                <div class="logo">
                    <img src="assets/image/Logo 1.png" alt="nav-logo">
                </div>
                <ul>
                    <li><a style="color: #FF4F4F;" href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">PAGES</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </div>
                    <button class="nav-batun">LET’S TALK</button>
            </div>
            <!--nav end-->
                <div class="colo-img">
                    <img src="assets/image/Vector 1.png" alt="">
                </div>
                <div class="color-img2">
                    <img src="assets/image/Vector 2.png" alt="">
                 </div>
                    <div class="color-img3"> 
                        <img src="assets/image/Image3.png" alt="">
                    </div>
                 <div class="title-boox">
                    
                            <h1 class="header-tittel">
                                Guiding Your</br> Business to Achieve </br>Online Success
                            </h1>
                                <p class="header-text">
                                      Me old mucker knackered a load of old tosh wellies amongst lost</br> the plot say bodge tickety boo.!
                                </p>
                                <div class="headar-batun">
                                    <a href="#">PURCHES NOW</a>
                                </div>
                </div>
    </div>
</div>

    </header>
    <!--hedaer-->
    <!--About Company start-->
    <section>
        <div class="container">
            <div class="about-company flex">
                <div class="left">
                    <div class="left-img">
                        <img src="assets/image/Rectangle 202.png" alt="">
                    </div>
                    <div class="left-img2">
                        <img src="assets/image/Group 198.png" alt="">
                    </div>
                    
                </div>
                <div class="right">2
                    
                        <p class="right-date">EST. 1987</p>
                        <h2 class="right-tittel">Built For You,</br>
                            By People Who Care
                        </h2>
                        <p class="right-text">''Recognizing the need is the primary</br>
                            condition for design''
                        </p>
                        <p class="right-text2"> Pick a template, customize the content and design</br> elements, and launch! Or, design your next fabulous email</br> on your own with our simple visual builder.

                        </p>
                        <div class="right-buttun-pr">
                            <!-- <a href="#">DISCOVER MORE</a> -->
                             <button>DISCOVER MORE</button>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--Subscribe-->
    <section>
        <div class="container">
            <div class="subscrib">
                <h1 class="subscrib-tittel">Get Started <span style="color: #FF4F4F;">- It's free</span>
                </h1>
                <div class="icon-conteant flex">
                <div class="arrow-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8l176 0 0 176c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z"/></svg>
                   
                </div>
                <div class="arrow-icon-text">
                    <p>Start Your 14-Days Free Trial</p>

                </div>
            </div>
            <div class="subscrib-buttun-conteant flex">
               <div class="left-buttun">
                <input type="text" placeholder="Enter your name">
               </div>
                <div class="right-buttun">
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="right-btn">
                    <button>Sign UP</button>
                </div>
            </div>

            </div>
        </div>
    </section>
</body>
</html>