


.colo-img{
    position: absolute;
    right: 6%;
    top: 19%;
    width: 36.688rem;
    height: 48.188rem;
}
.color-img2{
    position: absolute;
    right:0.5rem;
    top: 35%;
    width: 31.188rem;
    height: 38.625rem;

    
}
.color-img3{
    position: absolute;
    right: 7.625rem;
    top: 24%;
    width: 29.375rem;
    height: 36.25rem;

}
.header-tittel{
    position: absolute;
    top: 35%;
    font-weight: 700;
    font-size: 3.75rem;
    color: #fff;

}
.header-text{
    position: absolute;
    top: 60%;
    font-weight: 500;
    font-size:1.125rem ;
    line-height: 1.875rem;
    color:#DCDCDC;
    opacity: 1;

}
.headar-batun{
    position: absolute;
    background-color: #FF4F4F;
    padding: 0.625rem 1.875rem;
    top:74%;
    a{
        text-decoration: none;
        font-weight: 500;
        font-size: 0.938rem;
        color: #fff;
    }
}


